html, body {
  margin: 0;
  padding: 0 0 60px 0;
  height: 100%;
}
body {
  background: #18b66c;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(68, 180, 255);
    z-index: 1000;
    opacity: 1.5;
}

#jumbotron-home {
    /*background-color: blue;
    height: 500px;*/
}
#jumbo-text {
  padding: 200px 0;
  background: transparent;
  display: inline-block;
}
#jumbo-wrap {
  background: radial-gradient(ellipse, rgba(24,182,108,1) 60%, rgba(24,182,108,0) 70%);
}

#content-back {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 3em;
}

#content {



}

#blog-btn {
  margin-left: .4em;
  background: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: 250ms all;
}
#blog-btn:hover {
  background: #ffd635;
  color: black;
  border: 2px solid black;
  text-decoration: none;
}

#section2 {
  background-color: rgb(240, 82, 84, .8);
  height: 400px;
  width: 100%;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    width: 100%;
    height: 100%;
}
