html, body {
  margin: 0;
  padding: 0 0 60px 0;
  height: 100%;
}
body {
  background: #18b66c;
}

#jumbotron-home {
    /*background-color: blue;
    height: 500px;*/
}
#jumbo-text {
  padding: 200px 0;
  background: transparent;
  display: inline-block;
}
#jumbo-wrap {
  background: radial-gradient(ellipse, rgba(24,182,108,1) 60%, rgba(24,182,108,0) 70%);
}

#content-back {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 3em;
}

#content {



}

#blog-btn {
  margin-left: .5em;
  background: #ffd635;
  color: white;
  outline: none;
  border: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 0.25rem;
}
#blog-btn:hover {
  color: #ffffff9f;
  text-decoration: none;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    width: 100%;
    height: 100%;
}

.menu {
    margin-top: 14px;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu li a {
    color: #444;
    font-size: 14px;
    font-weight: bold;
}

.menu li a:hover,
.menu li a:focus {
    background: none;
}


footer {
    text-align: center;
    background: #f4f4f4;
    padding: 50px 0px;
}

footer .footer-logo {
    color: #555;
}

footer p.copyright-text {
    font-weight: 300;
    font-size: 12px;
    color: #888;
    letter-spacing: 3px;
    margin-top: 15px;
}

footer p.copyright-text a {
    color: #282828;
}

footer p.copyright-text a:hover {
    text-decoration: none;
}

.nav-purple {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(100, 40, 160, 0);
}
.nav-purple .navbar-brand {
    color: #ffd635;
}
